# dependencies
node_modules/

# database
database.db
*.sqlite
*.sqlite3

# logs
logs
*.log
npm-debug.log*

# env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# temporary files
tmp/
temp/

# build
dist/
build/

# coverage
coverage/

# package lock (по желанию)
# package-lock.json